<nav class="navbar navbar-expand-lg navbar-custom fixed-top">
    <div class="container">
      <a class="navbar-brand" href="index.html">
        <img src="https://res.cloudinary.com/dmngvz0f4/image/upload/v1766769765/logo_f_rzbbkh.png" alt="Excelle pour Christ" height="50">
      </a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-expanded="false">
  <div class="hamburger">
    <span></span>
    <span></span>
    <span></span>
  </div>
</button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav ms-auto align-items-center">
          <li class="nav-item">
            <a class="nav-link active" href="index.html">Accueil</a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown">
              Qui sommes-nous <i class="bi bi-chevron-down ms-1"></i>
            </a>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" href="about.html">Notre histoire</a></li>
              <li><a class="dropdown-item" href="founder.html">La Fondatrice</a></li>
              <li><a class="dropdown-item" href="about.html#values">Nos valeurs</a></li>
              <li><a class="dropdown-item" href="about.html#leaders">Collège des Serviteurs</a></li>
            </ul>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown">
              Enseignement   <i class="bi bi-chevron-down ms-1"></i>
            </a>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" href="teachings.html">Enseignements</a></li>
              <li><a class="dropdown-item" href="teachings.html#ecole">École Tyrannus</a></li>
            </ul>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="evenements.html">Evenements</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="donate.html">Faire un don</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="join.html">Nous rejoindre</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
